### Load libraries

In [1]:
from keras.models import Sequential 
from keras.layers import Dense 
import matplotlib.pyplot as plt
import pandas as pd
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

from sklearn import metrics

import textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers

import nltk
from nltk.corpus import stopwords

from warnings import filterwarnings
filterwarnings('ignore')

2023-02-03 11:47:56.140568: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-02-03 11:47:56.610461: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-02-03 11:47:56.610479: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-02-03 11:47:58.009462: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-02-03 11:47:58.009580: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-02-03 11:47:58.009588: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
train = pd.read_csv("Train.csv")
train.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    40000 non-null  object
 1   label   40000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 625.1+ KB

In [4]:
train.label.value_counts()

0    20019
1    19981
Name: label, dtype: int64

In [5]:
train.groupby("label").count()

        text
label
0      20019
1      19981

### Text Clearing

In [6]:
def transformations(dataframe):
    # upper to lower character
    dataframe['text'] = dataframe['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
    #punctuations
    dataframe['text'] = dataframe['text'].str.replace('[^\w\s]','')
    #numbers
    dataframe['text'] = dataframe['text'].str.replace('\d','')
    # 
    sw = stopwords.words('english')
    dataframe['text'] = dataframe['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
    #rare characters deleting
    sil = pd.Series(' '.join(dataframe['text']).split()).value_counts()[-1000:]
    dataframe['text'] = dataframe['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
    #lemmi
    from textblob import Word
    #nltk.download('wordnet')
    dataframe['text'] = dataframe['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()])) 
    return dataframe

In [7]:
train = transformations(train)
train.head()

                                                text  label
0  grew b watching loving thunderbird mate school...      0
1  put movie dvd player sat coke chip expectation...      0
2  people know particular time past like feel nee...      0
3  even though great interest biblical movie bore...      0
4  im die hard dad army fan nothing ever change g...      1

### Test Dataset Cleaning

In [8]:
test = pd.read_csv("Test.csv")
test = transformations(test)
test.head()

                                                text  label
0  always wrote series complete stinkfest jim bel...      0
1  st watched dirsteve purcell typical mary kate ...      0
2  movie poorly written directed fell asleep minu...      0
3  interesting thing miryang secret sunshine acto...      1
4  first read berlin meer didnt expect much thoug...      0

### Valid Dataset

In [9]:
valid = pd.read_csv("Valid.csv")
valid = transformations(valid)
valid.head()

                                                text  label
0  year since sharon stone awarded viewer legcros...      0
1  someone needed make car payment truly awful ma...      0
2  guideline state comment must contain minimum f...      0
3  movie muddled mishmash clichés recent cinema p...      0
4  stan laurel became smaller half alltime greate...      0

### Split dataset

In [10]:
train_x = train['text']
valid_x = valid["text"]
train_y = train["label"]
valid_y = valid["label"]

### Feature Engineering

In [11]:
vectorizer = CountVectorizer()
vectorizer.fit(train_x)

CountVectorizer()

In [12]:
x_train_count = vectorizer.transform(train_x)
x_valid_count = vectorizer.transform(valid_x)
x_test_count  = vectorizer.transform(test["text"])

In [13]:
x_train_count = x_train_count.toarray()

In [ ]:
x_valid_count = x_valid_count.toarray()

In [ ]:
x_test_count = x_test_count.toarray()

### Neural Network Model

In [ ]:
model = Sequential() 

#layers
model.add(Dense(50,input_dim=x_train_count.shape[1], kernel_initializer="uniform", activation="relu")) 
model.add(Dense(6, kernel_initializer="uniform", activation="relu")) 
model.add(Dense(1, kernel_initializer="uniform", activation="sigmoid")) 
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Fit the model
history = model.fit(x_train_count, 
                    train_y.values.reshape(-1,1),
                    validation_data=(x_valid_count,valid_y),
                    epochs=2, batch_size=128)